{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="card">
        <div>
            <img src="https://via.placeholder.com/1127x350" alt="">
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.content}}</p>
                <p class="card-text">Ecrit par {{article.user.lastName}} {{article.user.firstName}}</p>
                <a href="/blog" class="btn btn-primary">Retour au blog</a>
            </div>
        </div>
    </div> 

{% endblock %}